<div class="row">
    <div class="col-4"></div>
    
    <div class="col-4">
        <div class="card m-5 bg-light" style="width: px;  border-radius:10%;box-shadow: 5px 10px 8px #888888;">
      <img src="../../assets/bank-icon-vector-483779 (1).jpg" class="card-img-top mt-4" alt="bank" style="width:100px; height:80px; border-radius:40%; margin-left:116px">
        <div class="card-body text-center">
          <h5 class="card-title mt-2">My Bank</h5>
          <h6>{{Aim}}</h6>
        </div>
        <form action="">
          
          <input (change)="acnoChange($event)" type="text" id="accno" [placeholder]="Account" class="form-control rounded-pill m-4 bg-light" style="width:300px;box-shadow: 5px 10px 8px #888888;">
          <input  (change)="pswdChange($event)" type="text" id="pswd" placeholder="Password" class="form-control rounded-pill m-4 bg-light" style="width:300px;box-shadow: 5px 10px 8px #888888;">
          <button id="login"   (click)="log()" type="button"  class="rounded-pill bg-primary " style="width:250px; border-color:rgb(101, 152, 247); margin-left:47px">Login</button>
        </form>
        <div class="card-body  text-center">
     <a href="./signup.html" style="text-align: center;">Sign up</a>
          
        </div>
      </div>
    
    </div>
    <div class="col-4"></div>
    
        </div>
        <app-register></app-register>
        
