
    <div class="row">
        <div class="col-6">
            <div class="card  bg-light" style="width: px;  border-radius:10%;box-shadow: 5px 10px 8px #888888;" id="class1">
            <img src="../../assets/bank-icon-vector-483779 (1).jpg" class="card-img-top mt-4" alt="bank" style="width:100px; height:80px; border-radius:40%;margin-left:116px">
            <div class="card-body">
             <h5 class="card-title mt-2" style="text-align:center">My Bank</h5>
            </div>
            
              <input [(ngModel)]="acno"  name="acno" type="text" id="depo_acco" placeholder="Account Number" class="form-control rounded-pill m-4 bg-light" style="width:300px;  box-shadow: 5px 10px 8px #888888;">
              <input [(ngModel)]="pswd" name="pswd" type="text" id="depo_pswd" placeholder="Password" class="form-control rounded-pill m-4 bg-light" style="width:300px;box-shadow: 5px 10px 8px #888888;">
              <input  [(ngModel)]="amount" name="uname" type="text" id="depo_amount" placeholder="Amount" class="form-control rounded-pill m-4 bg-light" style="width:300px;box-shadow: 5px 10px 8px #888888;">
         
            <button type="button" (click)="deposit()" class="rounded-pill bg-primary " style="width:250px; border-color:rgb(101, 152, 247); margin-left:55px;"  >deposit</button>
        
            <div class="card-body">
             <!-- <a routerLink="" class="card-link" id="signup" style="text-align: center;margin-left:122px">Signin</a> -->
              
            </div>
          </div>
        
        </div>
        
        
            
       <!-- <div class="col-4"> </div> -->
        
       
            
        
        
        <div class="col-6">
            <div class="card  bg-light" style="width: px;  border-radius:10%;box-shadow: 5px 10px 8px #888888;" id="class2">
            <img src="../../assets/bank-icon-vector-483779 (1).jpg" class="card-img-top mt-4" alt="bank" style="width:100px; height:80px; border-radius:40%;margin-left:116px">
            <div class="card-body">
             <h5 class="card-title mt-2" style="text-align:center">My Bank</h5>
            </div>
            
              <input [(ngModel)]="acno1"  name="acno1" type="text" id="with_acco" placeholder="Account Number" class="form-control rounded-pill m-4  pt-1 bg-light" style="width:300px;  box-shadow: 5px 10px 8px #888888;">
              <input [(ngModel)]="pswd1" name="pswd1" type="text" id="with_pswd" placeholder="Password" class="form-control rounded-pill m-4 bg-light pt-1" style="width:300px;box-shadow: 5px 10px 8px #888888;">
              <input  [(ngModel)]="amount1" name="amount1" type="text" id="with_amount" placeholder="Amount" class="form-control rounded-pill m-4 bg-light pt-1" style="width:300px;box-shadow: 5px 10px 8px #888888;">
         
            <button type="button" (click)="withdraw()" class="rounded-pill bg-primary " style="width:250px; border-color:rgb(101, 152, 247); margin-left:55px"  >Withdraw</button>
        
            <div class="card-body">
             <!-- <a routerLink="" class="card-link" id="signup" style="text-align: center;margin-left:122px">Signin</a> -->
              
            </div>
          </div></div>
    
    
    
    </div>
  
        
           
            
    

    
    
    


