<div class="row">
    <div class="col-4"></div>
    
    <div class="col-4 d-grid">
        <div class="card m-5 bg-light" style="width: px;  border-radius:10%;box-shadow: 5px 10px 8px #888888;">
        <img src="../../assets/bank-icon-vector-483779 (1).jpg" class="card-img-top mt-4" alt="bank" style="width:100px; height:80px; border-radius:40%;margin-left:116px">
        <div class="card-body">
         <h5 class="card-title mt-2" style="text-align:center">My Bank</h5>
        </div>
        <form action="">
          <input type="text" id="acco" placeholder="Account Number" class="form-control rounded-pill m-4 bg-light" style="width:300px;  box-shadow: 5px 10px 8px #888888;">
          <input type="text" id="uname" placeholder="User Name" class="form-control rounded-pill m-4 bg-light" style="width:300px;box-shadow: 5px 10px 8px #888888;">
          <input type="text" id="pswd" placeholder="Password" class="form-control rounded-pill m-4 bg-light" style="width:300px;box-shadow: 5px 10px 8px #888888;">
    
     
        <button type="button" onclick="reg()" class="rounded-pill bg-primary m-3" style="width:250px; border-color:rgb(101, 152, 247); margin-left:47px"  >register</button>
      </form>
        <div class="card-body">
         <a href="./index.html" class="card-link" id="signup" style="text-align: center;margin-left:122px">Signin</a>
          
        </div>
      </div>
    
    </div>
    <div class="col-4"></div>
    
        </div>
        
